<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>update Post</title>
</head>
<body>
    <h1>게시판 글 수정</h1>
    <hr>
    <form th:action method="post" th:object="${post}">
        <label for="title">글 제목</label>
        <input type="text" th:field="*{title}" disabled>
        <label for="body">게시판 글</label>
        <input type="text" th:field="*{body}">
        <input type="submit" value="저장">
    </form>
    <button th:onclick="|location.href='@{/posts/{postId}(postId=${post.postId})}'|"
            type="button">
        이전
    </button>
</body>
</html>