<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>allPosts</title>
</head>
<body>
    <h1>PostAll</h1>
    <hr>
    <div sec:authorize-expr="isAuthenticated()">
        <span sec:authentication="principal.userId"></span>
        <button>로그아웃</button>
    </div>
    <div sec:authorize-expr="!isAuthenticated()">
        <button>로그인</button>
    </div>

    <form id="searchForm" th:action="@{/posts/dynamic}">
        제목 <input type="text" name="title" th:value="${param.title}">
        좋아요 <input type="number" name="likes" min="0" value="0" th:value="${param.likes}">
        <button type="submit" id="search">검색</button>
    </form>
    <table>
        <tr>
            <th>postId</th>
            <th>title</th>
            <th>likes</th>
        </tr>
        <tr th:each="post : ${allPosts}">
            <td>
                <a th:href="@{/posts/{postId}(postId=${post.postId})}"
                   th:text="${post.postId}">Id</a>
            </td>
            <td>
                <a th:href="@{/posts/{postId}(postId=${post.postId})}"
                   th:text="${post.title}">title</a>
            </td>
            <td th:text="${post.likes}">likes</td>
            <td>
                <div th:if="${#authentication.principal.userId == post.user.userId}">
                    <button th:onclick="|location.href='@{/posts/delete/{postId}(postId=${post.postId})}'|"
                            type="button">
                        삭제
                    </button>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>