<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>create Post</title>
</head>
<body>
    <h1>게시판 글 등록</h1>
    <div sec:authorize-expr="isAuthenticated()">
        <span sec:authentication="principal.userId"></span>
        <button>로그아웃</button>
    </div>
    <div sec:authorize-expr="!isAuthenticated()">
        <button>로그인</button>
    </div>
    <hr>

    <span th:text="${userId}"></span><button th:onclick="|location.href='@{/users/logout}'|">logout</button>
    <form th:action method="post">
        <label for="title">글 제목</label>
        <input type="text" id="title" name="title">
        <label for="body">게시판 글</label>
        <input type="text" id="body" name="body">
        <input type="submit" value="저장">
        <input type="text" name="userId" disabled>
    </form>

</body>
</html>