<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
    <h1>회원 가입</h1>
    <hr>
    <form th:action method="post">
        <label for="id">아이디</label>
        <input type="text" id="id" name="userId">
        <label for="pwd">패스워드</label>
        <input type="password" id="pwd" name="password">
        <label for="name">회원명</label>
        <input type="text" id="name" name="userName">
        <input type="submit" value="저장">
    </form>
</body>
</html>